/* DEFAULT SETTINGS */
:root {
    --blue: #0279FB;
    --orange: #FEBA17;
    --grey: #E9E9E9;
    --bg-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

input {
    outline: none;
}

body {
    background-color: var(--bg-color);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* HEADER =================== */
header {
    height: 4.5rem;
    padding-top: .8rem;
    color: var(--blue);
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}


/* MAIN ===================== */
.container {
    background-color: none;
    width: 100%;
    height: calc(100% - 4.5rem);
    box-shadow: 5px 10px black;
}

.content {
    background-color: none;
    border-radius: .6rem;
    width: 90%;
    max-width: 1000px;
    height: 80%;
    min-height: 300px;
    margin: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.area {
    width: 48%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.13);
}

/* TO-DO SECTION =================== */
.todo {
    float: left;
}

.todohead {
    background-color: var(--blue);
}

.todohead input[type="button"] {
    background-color: var(--orange)
}

/* DONE SECTION =================== */

.doing {
    float: right;
}

.doinghead {
    background-color: var(--orange);
}


.doinghead input[type="button"] {
    background-color: var(--blue);
}

.head {
    height: 6.5rem;
    border-radius: .6rem .6rem 0 0;
    color: white;
}

.head h2 {
    font-weight: 400;
    font-size: 1.3rem;
}

/* GENERAL SETTINGS ============== */
.inputs {
    height: 3rem;
    width: 100%;
    overflow: hidden;
}

.head input[type="text"] {
    width: 65%;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: .5rem 0 .5rem 1rem;
    height: 2rem;
}

.head input[type="button"] {
    border: none;
    border-radius: 0 1rem 1rem 0;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    color: white;
    font-size: 1.5rem;
    position: relative;
    top: .35rem;
    cursor: pointer;
}

/* TASKS ======================== */
.tasks {
    width: 100%;
    height: calc(100% - 6.5rem);
    overflow-y: auto;
}

.card {
    background-color: var(--bg-color);
    height: 18%;
    min-height: 3.5rem;
    padding: .6rem;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    border-radius: 0 .5rem .5rem 0;
    overflow: hidden;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.11);
}

.todo-card {
    border-left: .4rem solid var(--blue);
}

.doing-card {
    border-left: .4rem solid var(--orange);
}

.card .text {
    width: 80%;
    display: inline-block;
    word-wrap: break-word;
}

.card button {
    float: right;
    border: none;
    margin-top: .2rem;
    padding: .5rem;
    cursor: pointer;
}

.card button img {
    width: 1.5rem;
}




